body {
    background: rgb(255,252,223);
    background: linear-gradient(47deg, rgba(255,252,223,1) 0%, rgba(95,30,122,1) 100%); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

main {
    width: 60%;
    margin: auto;
    margin-top: 10vh;
}

h2 {
    text-align: center;
    color: snow;
}

section {
    width: 80%;
    margin: auto;
}

.searchfield {
    display: flex;
}

/* XXXXXXXXXXXXXXXXXX INPUT CSS XXXXXXXXXXXXXXXXXX */

input {
    margin: auto;
    width: 160px;
    height: 2.6rem;
    outline: none;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff73;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(76, 197, 80);
}

/* XXXXXXXXXXXXXXXXXX BUTTONS CSS XXXXXXXXXXXXXXXXXX */

.buttonSection {
    margin-top: 4vh;
    display: flex;
}

button {
    display: inline-block;
    position: relative;
    padding: 6px 23px;
    top: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba(28, 227, 125, 0.5);
    background: rgba(22, 230, 137, 1);
    color: #fff;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);
    transform: translateZ(0);
    transition: all 0.2s ease;
}

button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(15, 165, 60, 0.2);
    transform: rotateX(5deg);
}

button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
    background: rgba(20, 224, 133, 1);
}

button {
    margin: auto;
    display: block;
}

.clearPage {
    background-color: rgb(250, 108, 108);
}

.clearPage:hover {
    box-shadow: 0px 10px 10px #a50f0f33;
}

.clearPage:active {
    background-color: rgb(255, 89, 89);
}

/* XXXXXXXXXXXXXXXXXX LIST CSS XXXXXXXXXXXXXXXXXX */

ul {
    width: 80%;
    margin: auto;
    padding: 0;
    list-style: none;
}

li {
    background: #fffcdf;
    background-color: #ffffff73;
    margin-top: 2vh;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: rgb(110, 99, 116) 1px solid;
}

li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 15px
}

/* XXXXXXXXXXXXXXXXX MOVIE GRID XXXXXXXXXXXXXXX */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster texts";
    margin-top: 9vh;
    padding: 2vh;
    background: rgb(255, 252, 223);
    background: linear-gradient(47deg, #fffcdf7a 0%, #00000073 100%);
}

.poster {
    grid-area: poster;
}

.texts {
    grid-area: texts;
}

img {
    margin: auto;
    display: block;
    height: 351px;
    width: 225px;
}

.specialH {
    color: rgb(233, 213, 213);
    border-bottom: silver 3px solid;
    width: fit-content;
}

.special {
    color: white;
    font-weight: bold
}

#home ion-icon {
    font-size: 34px;
    background-color: rgba(255, 255, 255, 0.739);
    border-radius: 4px;
    border: 1px solid rgb(15, 219, 15);
}