.mouseEvent{
    display: flex;
    width: 100%;
}
.mouseEvent div {   
    width: 160px;
    height: 160px;
    margin: 5px;  
}

.hoverMe {   
    background-color: red;
}

#reset {
    background-color: green;
}

#axe-x, #axe-y {
    background-color: gray;
    text-align: center;   
    display:flex;
    align-items: center;
    justify-content: center;
}


